@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F9FAFB;
}

a {
  text-decoration: none;
  color: inherit;
}

.router-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20vh;
}

.router-container h1 {
  font-size: 70px;
  font-weight: 500;
}

.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.NotFound h1 {
  font-size: 7rem;

}

.nf1 {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(105, 101, 101);
}
.nf2 {
  font-size: 2rem;
  color: rgb(131, 129, 129);;
}

.nf3 {
  font-size: 20px;
}

.NotFound button {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.NotFound button:hover {
  transform: scale(1.1);
  filter: brightness(1.4);

}

.home-welcome {
  padding: 10px 32px;
  margin-top: 2vh;
}

.home-welcome p {
  font-size: 1.3rem;
}

.games-information {
  padding: 10px 32px;
  margin-top: 2vh;
}

.add-on {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.games-information p {
  font-size: 1.3rem;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.game-box {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, brightness 0.3s ease;
}

.game-box:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.03)
}

.gamebox-title {
  font-size: 1.3rem;
  font-weight: 700;
}


.statistics-info {
  padding: 10px 30px;
  margin-top: 2vh;
}

.statistics-info p {
  font-size: 1.3rem;
}

.settings-info {
  padding: 10px 30px;
  margin-top: 2vh;
}

.settings-info p {
  font-size: 1.2rem;
}

.cps-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 10px 20px;
  text-align: start;
  border: 2px solid black;
  border-radius: 12px;
}

.cps-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.cps-buttons button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;

  transition: transform 0.5s ease;
}

.cps-buttons button:hover {
  transform: scale(1.1);
  filter: brightness(1.4);
}



.signin-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  background: #fff;
  padding: 30px 40px;
  border: 2px solid black;
  border-radius: 12px;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-bottom: 10px;
}

.text {
  color: black;
  font-size: 48px;
  font-weight: 700;
}


.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  background-color: white;
  transition: border-color 0.3s ease;
}

.input img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #333;
}

.forgot-password {
  padding-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
}

.forgot-password span {
  color: #3b82f6;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s ease;
}

.forgot-password span:hover {
  color: #1e40af;
}

.submit-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  background-color: black;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;

  transition: transform 0.3s ease, filter 0.3s ease;
}

.submit:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.darkify {
  background: rgb(66, 65, 65);
  color: white
}






